html {
  font-family: "Raleway";
}

a {
  all: unset;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.booki-activities {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 50px 70px 30px;
}

.booki-activities-nav {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.booki-activities-nav p:hover {
  cursor: pointer;
  border-top: solid 2px #0065fc;
  color: #0065fc;
  padding-top: 10px;
}

.slogan-nav {
    margin: 0 0 40px 50px;
}

.input-field{
    display: flex;
    margin-left: 50px;
}

#booki-logo {
  height: 30px;
  width: 100px;
}

#hébergement {
  margin-right: 100px;
}

/* ----------------Media Queries ------------------ */

/* Media query for tablets */
@media only screen and (min-width: 768px) and (max-width: 992px) {
}

/* Media query for mobiles */
@media only screen and (max-width: 768px) {
}
