/* All html tags are at the beggining */
/* css classes are coming after */
/* Id's are after the classes */
/* at the end the media queries */

/* --------------------- HTML section ------------- */
html {
  font-family: "Raleway";
  margin: 1% 5% 0 5%;
}

a {
  all: unset;
  cursor: pointer;
}

input {
  all: unset;
  border: 1px solid #f2f2f2;
  font-weight: bold;
  color: black;
}

button {
  all: unset;
}

/* -------------------- Classes section ----------------- */

.flex {
  display: flex;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between{
  display: flex;
  
}

.bold {
  font-weight: bold;
}

.thin {
  font-weight: 200;
}

.italic {
  font-style: italic;
}

.blue {
  color: #0165fb;
}

.grey {
  color: #f2f2f2;
}

.btn-primary {
  color: #ffff;
  background: #0165fc;
  padding: 0 10px;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  font-weight: bold;
}

.booki-activities {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 50px 70px 0;
}

.booki-activities-nav {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.booki-activities-nav p:hover {
  cursor: pointer;
  border-top: solid 2px #0065fc;
  color: #0065fc;
  padding-top: 10px;
}

.slogan-nav {
  margin: 0 0 5% 0;
}

.map-marker {
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
  width: 50px;
  height: 49px;
  border-radius: 15px 0 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters {
  display: flex;
  margin: 5% 0 5% 0;
  font-weight: bold;
}

.filters i {
  color: #0165fc;
  margin-left: 5%;
}

.filter-info {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

/* ici je n'arrive toujours pas à placer correctement la bordure pour qu'elle puisse encercler correctement le contenu */

.duo-icon {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 3%;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  width: 226px;
}

.duo-icon:hover {
  background: #ddebff;
  cursor: pointer;
}

.duo-icon p {
  margin-left: 5%;
}

.info-logo {
  border: 1px solid #d9d9d9;
  padding: 1px;
  display: flex;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: #0165fc;
  font-weight: 600;
}

.rentings {
  background: #d9d9d9;
  padding: 3% 1% 3% 1%;
  border-radius: 20px;
  width: 817px;
}

.rentings a {
  margin: 1%;
}

.renting-card {
  border: 5px solid #ffffff;
  border-radius: 20px;
  background: white;
  margin: 1%;
  width: 246px;
  height: 240px;
  box-shadow: 8px 14px 3px -14px #000000;
}

.renting-row {
  margin-bottom: 4%;
}

.renting-card img {
  width: 246px;
  max-height: 124px;
  border-radius: 20px 20px 0 0;
}

.renting-card p {
  margin-left: 5%;
}

.renting-card-stars {
  margin: 20px 0 0 10px;
}

.rentings-popular {
}

/*  ----------  ID section  ----------------------- */

#booki-logo {
  height: 30px;
  width: 100px;
}

#hébergement {
  margin-right: 100px;
}

#familial-btn {
  height: 22px;
  width: 13, 44px;
}

/* ----------------Media Queries ------------------ */

/* Media query for tablets */
@media only screen and (min-width: 768px) and (max-width: 992px) {
}

/* Media query for mobiles */
@media only screen and (max-width: 768px) {
}
